<div class="modal fade" id="join-seller-model">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header close-mobile-display">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="#" id="selContForm">
                    <div class="row">
                        <div class="col-md-6 p-t-b-50">
                            <div class="padding-50px">

                                <div class="row d-flex justify-content-center">
                                    <h1 class="p-t-b-20">Join Tashty</h1>
                                </div>
                                <div class="form-group">
                                    <div class="row btn-p">
                                        <button id="btnFbJoinSeller" class="newbtn-fb"><i class="fa fa-facebook"></i>&nbsp; &nbsp;Continue with Facebook</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row btn-p">
                                        <button id="signup-button-seller" class="newbtn-gmail"><i class="fa fa-google"></i>&nbsp; &nbsp;Continue with Google</button>
                                    </div>

                                    <div class="separator">&nbsp; or &nbsp;</div>

                                </div>
                                <div class="form-group">
                                    <div class="row btn-p">

                                        <p class="p-bold" for="exampleInputEmail1">Email address</p>
                                    </div>
                                    <div class="row btn-p">
                                        <input type="email" class="form-control" id="txtSellerEmail" aria-describedby="emailHelp" required>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div style="color:darkred" id="txtSellerErrorMsg"> </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <button id="btnSellerContinue" class="btn btn-continue">Continue</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row d-flex justify-content-center">
                                        <p class="p-font">Already Have an Account?<a class="join-as-sel-login" href="#"> Sign in</a></p>
                                    </div>
                                </div>
                                <div class="extra-bt-p">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bg-img-model1" style="background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,0.5)),url(/Content/New/images/modal1.jpg)">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="row d-flex justify-content-end txtalign-btm">

                                <h1 class="h1-custom">JOIN NOW</h1>
                                <P class="p-custom">Order your favourite food from best sellers</P>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade hmodal-success" id="join-seller-model" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header p-sm">
                    <h4 class="modal-title">Join Tashty As Seller</h4>
                </div>
                <div class="modal-body sellerbcm">
                    <form action="#" id="selContForm">
                        <div class="m-b">
                            <a class="btn btn-block btn-facebook btn-lg" id="btnFbJoinSeller" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false">
                                <span class="fa fa-facebook"></span> Continue with Facebook
                            </a>
                            <a class="btn btn-block btn-google btn-lg" id="signup-button-seller">
                                <span class="fa fa-google"></span> Continue with Google
                            </a>
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        </div>
                        <h3><span>or</span></h3>
                        <div class="form-group">
                            <input type="email" id="txtSellerEmail" placeholder="enter your email" title="Please enter your email" required="" class="form-control  input-lg">
                        </div>
                        <div class="form-group">
                            <div style="color:darkred" id="txtSellerErrorMsg"> </div>
                        </div>
                        <button class="btn btn-success btn-block btn-lg" id="btnSellerContinue">Continue</button>
                    </form>
                </div>
                <div class="modal-footer"> Already a member? <a href="#" class="text-success join-as-sel-login">Sign In</a></div>
            </div>
        </div>
    </div>*@

<div class="modal fade" id="seller-joinUs-model">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header close-mobile-display">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="#" id="selJoinForm">
                    <div class="row">

                        <div class="col-md-6 p-t-b-50">
                            <div class="padding-50px">

                                <div class="row d-flex justify-content-center">
                                    <h1 class="p-t-b-20">JOIN TASHTY</h1>
                                </div>
                                <div class="form-group">
                                    <div class="row ">
                                        <input id="hdnSellerEmail" type="hidden" />
                                        <p class="p-bold">Chose a Username</p>
                                        <input id="txtSellerUsername" type="text" placeholder="choose a username" title="Please enter your username" required class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="p-light">4 or maximum 20 characters longer Space/special characters not allowed.</p>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <p class="p-bold">Enter a Password</p>
                                        <input type="password" class="form-control" id="pwd" required>

                                    </div>
                                </div>
                                <div class="row">
                                    <p class="p-light">8 characters or longer. Combine upper and lower case letters and numbers.</p>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <p class="p-bold">Confirm Password</p>
                                        <input id="txtSellerPassword" type="password" placeholder="choose a password" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please enter your password" required class="form-control">
                                    </div>
                                </div>
                                <div class="green-space">

                                </div>
                                <!-- <div class="extra-space">

                                </div> -->
                                <div class="form-group">
                                    <div class="row">
                                        <button type="button" class="btn btn-continue" id="btnSellerJoin">Continue</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row d-flex justify-content-center">
                                        <p class="p-font">Already Have an Account? <a href="#" class="join-as-sel-login">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 bg-img-model2" style="background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,0.5)),url(/Content/New/images/modal1.jpg)">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="row d-flex justify-content-end txtalign-btm">

                                <h1 class="h1-custom">JOIN NOW</h1>
                                <P class="p-custom" style="color:#6fa742">Order your favourite food from best sellers</P>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade hmodal-success" id="seller-joinUs-model" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header p-sm">
                    <h4 class="modal-title">Become a seller </h4><h6 id="lblSellerEmail"></h6>
                </div>
                <div class="modal-body">
                    <form action="#" id="selJoinForm">
                        <input id="hdnSellerEmail" type="hidden" />
                        <div class="form-group">
                            <input id="txtSellerUsername" type="text" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$" placeholder="choose a username" title="Please enter your username" required="" class="form-control  input-lg">
                        </div>
                        <p>
                            <small>4  or  maximum 20 characters longer.Space/special characters not allowed.</small>
                        </p>
                        <div class="form-group">
                            <input id="txtSellerPassword" type="password" placeholder="choose a password" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please enter your password" required="" class="form-control  input-lg">
                        </div>
                        <p>
                            <small>8 characters or longer. Combine upper and lowercase letters and numbers.</small>
                        </p>
                        <button class="btn btn-success btn-block btn-lg" id="btnSellerJoin">Join</button>
                    </form>
                </div>
                <div class="modal-footer"> Already a member? <a href="#" class="text-success join-as-sel-login">Sign In</a></div>
            </div>
        </div>
    </div>*@


<script type="text/javascript">

  
      var isSeller = true;
    document.getElementById("btnSellerContinue").addEventListener("click", function () {
        document.getElementById("selContForm").className = "submitted";
    });

    $(document).ready(function () {
        $('.join-buyer-model').click(function () {
            $('#isSeller').val(false);
        $('#join-seller-model').modal('toggle');
        });

        $('.join-as-buyer-login').click(function () {
             isSeller = false;
        $('#login-model').modal('toggle');
         });

         $('.join-as-sel-login').click(function () {
        $('#join-seller-model').modal('toggle');
        $('#login-model').modal('toggle');
    });


        $("#selContForm").submit(function (e) {
            e.preventDefault();
            var email = $('#txtSellerEmail').val();
            $('#hdnSellerEmail').val(email);
            $('#lblSellerEmail').html(email);
            reg.CheckEmail(email, 'join-seller-model', 'seller-joinUs-model', 'txtSellerErrorMsg', true, true, '', false, false);
        });

        $("#btnSellerJoin").click(function (e) {
            var email = $('#hdnSellerEmail').val();
            var regex = '^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}';
            var username = $('#txtSellerUsername').val();
            var password = $('#txtSellerPassword').val();
             if (username == '' || password == '') {
                 return toastr.error("Please enter User Name/Password");
            }
            if (!$('#pwd').val().match(regex)) {
                return toastr.error("Please enter correct format of password mention below.");
            }
            if ($('#pwd').val() != password) {
                return toastr.error("Password and Confirm Password not same.");
            }
            reg.JoinTashty(email, username, password, $('#isSeller').val(), '', false, false);
        });

        $('#join-seller-model').on('hidden.bs.modal', function () {
            $('#txtSellerEmail').val('');
            $('#txtSellerErrorMsg').html('');
        });

        $('#join-seller-model').on('hidden.bs.modal', function () {
            $('#txtSellerUsername', '');
            $('#txtSellerPassword', '');
        });

    });


    function onSuccessSeller(user) {
        
        var obj = user.getBasicProfile();
        var isexist = reg.CheckEmail(obj.getEmail(),'join-seller-model','',true, obj.getName(), true, obj.getId(), true, false);
        if (!isexist) {
            reg.JoinTashty(obj.getEmail(), obj.getName(), '', $('#isSeller').val(), obj.getId(), true, false);
        }
    }
    //function onSuccessSeller(user) {
    //     
    //     var obj = user.getBasicProfile();
    //     reg.CheckEmail(obj.getEmail(), obj.getName(), '', true, obj.getId(), true, false);
    //}

</script>
