<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/images/Logo-small.png")" class="logo" /></a>
        </div>
        <div id="navbar-client" class="navbar-collapse collapse">
            <div class="col-sm-2 text-center m-t-md font16">
              
                    <div class="m-t-md" style="margin-top:10px!important;">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="lnkCats" style="font-size: 14px; font-weight: 600; padding: 15px 15px;" href="#" data-toggle="dropdown" aria-expanded="false"> <i class="pe-7s-keypad"></i> <span style="padding-right:10px"> Catagories</span> </a>
                            <ul id="catMenu" class="dropdown-menu animated flipInX megamenu"></ul>
                        </div>
                    </div>

            </div>
            <div class="col-sm-5 hpanel m-t-sm">
                <form id="frmAddSearch" action="#">
                    <div class="input-group panel-body no-padding">
                        <input id="txtSearch" class="form-control no-borders m-t-xs" autofocus type="text" placeholder="Street Address, City, postcode" />
                        <span class="input-group-btn  p-xs">
                            <svg width="23" height="23" viewBox="0 0 23 23">
                                <g fill="none" fill-rule="evenodd">
                                    <path stroke="#353534" d="M11.5 22.5v-2.986l.471-.028a8.001 8.001 0 0 0 7.515-7.515l.028-.471H22.5h-2.986l-.028-.471a8.001 8.001 0 0 0-7.515-7.515l-.471-.028V.5v2.986l-.471.028a8.001 8.001 0 0 0-7.515 7.515l-.028.471H.5h2.986l.028.471a8.001 8.001 0 0 0 7.515 7.515l.471.028V22.5z"></path>
                                    <circle cx="11.5" cy="11.5" r="4" stroke="#353534"></circle>
                                    <circle cx="11.5" cy="11.5" r="1" fill="#444548"></circle>
                                </g>
                            </svg>
                        </span> <span class="input-group-btn">
                            <input id="btnSearchAddress" type="submit" class="btn btn-primary2 btn-md p-xs" value="Search">
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-3 text-right m-t-md pull-right">
                <button id="btnSignIn" type="button" class="btn btn-default font16" data-toggle="modal" data-target="#login-model" > &nbsp;Sign In &nbsp;</button>
                <a href="#" class="m-l-md" id="lnkCartItems"> <i class="fa fa-shopping-bag font24" aria-hidden="true"></i> </a>
            </div>
        </div>
    </div>
</nav>