<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TashtyWebProject-20180217060729.mdf;Initial Catalog=aspnet-TashtyWebProject-20180217060729;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TashConString" connectionString="Data Source=192.168.1.6;Initial Catalog=Tashty;User ID=sa;Password=sa1234" providerName="System.Data.SqlClient" />
    <add name="TashConString" connectionString="Data Source=DESKTOP-V2KDP5R;Network Library = DBMSSOCN; Initial Catalog=TashtyVer3_2;User ID=sa;Password=p@ssword1" providerName="System.Data.SqlClient" />
		<add name="TashConString" connectionString="Data Source=192.168.101.30,1433;Network Library = DBMSSOCN; Initial Catalog=TashtyVer3_2;User ID=sa;Password=Redhat@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="TashConString" connectionString="Data Source=SAADIAPC;Initial Catalog=Tashty;Persist Security Info=True;User ID=sa;Password=sa1234" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TashConString" connectionString="Data Source=192.168.101.10,1433;Network Library = DBMSSOCN; Initial Catalog=Tashty;User ID=sa;Password=p@ssword123" providerName="System.Data.SqlClient" />-->
    <!--<add name="TashConString" connectionString="Data Source=192.168.101.30,1433;Network Library = DBMSSOCN; Initial Catalog=TashtyVer3_2;User ID=sa;Password=Redhat@123" providerName="System.Data.SqlClient" />-->
    <add name="TashConString" connectionString="Data Source=DESKTOP-KV1J1M1\SQLSERVER2017;Network Library = DBMSSOCN; Initial Catalog=TashtyVer3_2;User ID=sa;Password=p@ssword123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="secKey" value="6LfEDGcUAAAAAOdD1-wDKQyGRHhyDSwhW88WyuzG" />
    <add key="FacebookAppID" value="771542012920815" />
    <add key="FacebookAppSecret" value="c7cacfa2a3104f85fd041bb87efb4b4d" />
    <add key="ClientID" value="762499859032-h9ekf5dhgi54no9qm801dlvbhe935cf9.apps.googleusercontent.com" />
    <add key="ClientSecret" value="wTjXy6r3tm76OrI6V663oPxf" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPHost" value="smtp.zoho.eu" />
    <add key="SMTPEmail" value="order@tashty.com" />
    <add key="SMTPPassword" value="J@nu#202@" />
    <add key="SMTPEmail2" value="no-reply@tashty.com" />
    <add key="SMTPPassword2" value="T@$hty2020" />
    <add key="SMTPSsl" value="true" />
    <!--<add key="SMTPPort" value="587" />
		<add key="SMTPHost" value="smtp.gmail.com" />
		<add key="SMTPEmail" value="Tashtynotification@gmail.com" />
		<add key="SMTPPassword" value="Tashty123" />
		<add key="SMTPSsl" value="false" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error redirect="~/Error" statusCode="404" />
      <error redirect="~/Error" statusCode="500" />
    </customErrors>
    <authentication mode="Windows" />
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="5048576" />
    <!--<httpRuntime maxRequestLength="1048576" />-->
  </system.web>
  <system.web>
    <sessionState timeout="40"></sessionState>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.cshtml" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: FF022523-ED50-4481-BAFB-03316F3734EC-->