
          <h2>Work Info</h2>
          <p>Tell us a bit about your work. so that potential buyers can get to know you better.</p>
          <div class="border-bottom text-right m-b-lg" style="padding-bottom:5px;"><small><span class="text-danger">*</span>Mandatory fields</small></div>
          <div class="row">
            <div class="col-lg-10 wizardform">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="d-name">Display Title</label>
                <div class="col-sm-5">
                  <input type="text"  class="form-control input-lg"  placeholder="Display Title" name="txtDisplayTitle" id="txtDisplayTitle" required>
                </div>
              </div>
              <div class="form-group m-b">
                  <label class="col-sm-2 control-label">Upload Banner</label>
                  <div class="col-sm-10">
                      <div id="image-preview" class="image-preview">
                          <input type="hidden" id="hdnBannerFilename" />

                          <input type="file" name="image" id="fileUploadBanner" class="images-uploads" />
                      </div>
                  </div>
                  <div class="form-group col-lg-10"><small> maximum allowed upload size is 250 kb.</small></div>
              </div>
              <div class="form-group m-b">
                <label class="col-sm-2 control-label" for="cnic-number">CNIC Number</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-lg" placeholder="Enter CNIC Number" name="txtCNIC" id="txtCNIC" required>
                </div>
                <label class="col-sm-2 control-label" for="nationality"> Nationality</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-lg" placeholder="Nationality" name="txtNationality" id="txtNationality" required>
                </div>
              </div>
              <div class="form-group m-b">
                <label class="col-sm-2 control-label" for="cnic-number"> Offer Delivery</label>
                <div class="col-sm-2">
                  <div class="btn-group" id="status" data-toggle="buttons">
                    <label class="btn btn-default btn-on active">
                      <input type="radio" value="true" name="rdOfferDelivery" checked="checked">
                      No</label>
                    <label class="btn btn-default btn-off">
                      <input type="radio" value="false" name="rdOfferDelivery">
                      Yes</label>
                  </div>
                </div>
              </div>
              <div class="form-group m-b">
                <label class="col-sm-2 control-label">Delivery range</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control input-lg" id="txtDeliveryRange" maxlength="15" pattern="\d*" placeholder="30 Km">
                </div>
              </div>
			  <div class="f1-buttons">
			  	<button type="button" id="btnSaveWorkInfo" class="btn btn-success btn-lg">Save & Continue</button>
			  	<button type="button" class="btn btn-next btn-success btn-lg" style="display:none;">Continue</button>
			  </div>
            </div>
          </div>
 
<script>
    var loadedBanURL = "";
    var customBanValidationFailed = false;
    $('#btnSaveWorkInfo').on('click', function () {

        var IsValid = ValidateRegWorkInfo();

            if (IsValid==true) {
             	reg.SaveSellerWorkInfo(false);
                $('.btn-next').trigger("click");
                reg.GetSellerAccData('@ViewBag.profileID');
            }
            else { $("#frmSellerReg").find(':submit').click();}
	
	});

	$("#fileUploadBanner").fileinput({
		theme: 'fa',
		uploadUrl: baseURL + 'Seller/UploadBanner',
		dropZoneEnabled: false,
		browseClass: "upload-button btn btn-primary",
		showPreview: false,
		overwriteInitial: false,
		showCaption: false,
		showRemove: false,
		showCancel: false,
		showUpload: false,
		browseLabel: "Upload Banner",
		//maxFileSize: 2000,
		allowedFileExtensions: ['jpg', 'png', 'gif'],
		maxFilesNum: 1,
		layoutTemplates: { progress: '' },
		//minFileCount: 1,
        maxFileSize: 250,
        msgSizeTooLarge: 'Banner photo "{name}" (<b>{customSize}</b>) exceeds maximum allowed upload size of <b>{customMaxSize}</b>. Please retry your upload!',
		uploadAsync: true,
		slugCallback: function (filename) {

			return filename.replace('(', '_').replace(']', '_');
		},
		uploadExtraData: function () {
			return {
				FolderID: String("1")
			};
		}
	
    });
    $('#fileUploadBanner').on('fileuploaded', function (event, data, previewId, index) {
        // ChangeBackgroungImage(loadedBanURL);
        _set("hdnBannerFilename", data.response);
        customBanValidationFailed = false;
    });
    $('#fileUploadBanner').on('fileuploaderror', function (event, data, msg) {
        customBanValidationFailed = true;
        var size = data.files[0].size,
            maxFileSize = $(this).data().fileinput.maxFileSize,
            formatSize = (s) => {
                i = Math.floor(Math.log(s) / Math.log(100));
                sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                out = (s / Math.pow(100, i)).toFixed(2) * 1 + ' ' + sizes[i];
                return out;
            };

        msg = msg.replace('{customSize}', formatSize(size));
        msg = msg.replace('{customMaxSize}', formatSize(maxFileSize * 100 /* Convert KB to Bytes */));
        toastr.error(msg);
    });
    $('#fileUploadBanner').on('fileselect', function (event, numFiles, label) {

        if (!customBanValidationFailed) {
            $("#fileUploadBanner").fileinput("upload");
        }
        customBanValidationFailed = false;
    });

</script>