@{

    ViewBag.Title = "Tashty | Seller Dashboard";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
    //int id = (int)ViewData["profileID"];
}

<section>
    <div class="container sectionspc">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading m-b-sm">
                        <div class="panel-tools font-light text-muted">
                            <button type="button" id="btnAddMeal" class="btn btn-success m-r-md"> &nbsp;Add New Meal&nbsp;</button>
                        </div>
                        <h4>Manage Your Meal Items</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="meal-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="15%">Image</th>
                                        <th width="15%" class="sorting_asc" >Title</th>
                                        <th width="10%">Category</th>
                                        <th width="10%">Active</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="meal-count" role="status" aria-live="polite"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $(document).ready(function () {
        Seller.SetHeader('@ViewBag.photo', 'Meal');
        note.GetSellerDashboardNotice();
    });
    $('#btnAddMeal').click(function (e) {
        location.href = '@Url.Content("~/Seller/AddEditMeal")';
    });

    var mealTable = $('#meal-table').DataTable({
			"serverSide": true,
			"autoWidth": false,
			"processing": true,
			"lengthChange": false,
			"searching": false,
			"paging": true,
			"pageLength": 10,
			"responsive": true,
			"language": {
				"processing": "<i class='fa fa-circle-o-notch fa-spin fa-3x fa- fw'></i><span class='sr-only' > Loading...</span>"
			},
			"ajax": {
				"url": "@Url.Action("GetMealItems", "Seller")",
				"data": function (data) {
				}
            },
            "columns": [
				{
					"data": "photo",
					"orderable": false,
					"render": function (data, type, full, meta) {
					
						return type === 'display' ?
							data == null ? '<img class="img- circle m- b" alt="logo" width="60" height="60" src="' + baseURL + '/Content/Images/food-default.jpg" >' :
								'<img class="img- circle m- b" alt="logo" width="60" height="60" src="' + baseURL + '/Uploads/Product/' + full.folderID + '/thumb-60/' + data + '" >' :
							'<img class="img- circle m- b" alt="logo" width="60" height="60" src="' + baseURL + '/Content/Images/food-default.jpg" >';

					}
				},
                {
					"data": "title",
					"orderable": true,
                    "render": function (data, type, full, meta) {
                        return type === 'display' ?
                            data == null ? "..." : data.length > 50 ? data.substring(0,49) + '...' : data : data;
                    }
				},
				{
					"data": "category",
					"orderable": false,
					"render": function (data, type, full, meta) {
						return type === 'display' ?
							data == null ? "..." : data.length > 50 ? data.substring(0, 49) + '...' : data : data;
					}
				},
				{
					"data": "isActive",
					"orderable": false,
					"render": function (data, type, full, meta) {
						return type === 'display' ?
							data == null ? '<div class="checkbox checkbox-primary"><input data-type="markActive"  data-id=' + full.mealID + 'aria-label="Single checkbox One" type= "checkbox"><label></label></div >'
								: $.trim(data) === 'true' ? '<div class="checkbox checkbox-primary"><input data-type="markActive" data-id=' + full.mealID + ' checked aria-label="Single checkbox One" type= "checkbox" ><label></label></div >'
									: '<div class="checkbox checkbox-primary"><input data-type="markActive" data-id=' + full.mealID + ' aria-label="Single checkbox One" type= "checkbox" ><label></label></div >' : "....";
					}
				},
				{
					"data": "",
					"orderable": false,
					"render": function (data, type, full, meta) {
						var render = '<a  data-id=' + full.mealID + '  data-type="edit"><li class="fa fa-pencil-square-o" aria-hidden="true" ></li></a ><a data-type="delete" data-id=' + full.mealID + '> <li class="fa fa-trash-o"  aria-hidden="true"></li></a>';
						return render;
					}
				},
			],
			"getData": function () {
				if (mealTable == null)
					mealTable.initializaeDataTable();
				else
					mealTable.ajax.reload();
			},
            "drawCallback": function () {

            }
    });

            mealTable.on('draw', function () {
                    $('a[data-type="delete"]').click(function () {
				        var ele = $(this).attr("data-id");
				        deleteConfirmation(ele);
			        });

			        $('a[data-type="edit"]').click(function () {
				        var ele = $(this).attr("data-id");
				        location.href = '@Url.Content("~/Seller/AddEditMeal/?id=")' + ele;
			        });
			        $("input[data-type='markActive']").change(function () {
				    var ele = $(this).attr("data-id");
				    if (this.checked) {
					    //alert(ele);
					    CMeal.MarkActiveMeal(ele, true);
				    }
				    else {
					    //alert("unchecked");
					    CMeal.MarkActiveMeal(ele, false);
				    }
			    });

		});

    function deleteConfirmation(id) {
        //;
        event.preventDefault(); // prevent form submit
        swal({
            title: "Are you sure?",
            text: "You want to delete meal item?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                //;
                if (isConfirm) {
                    CMeal.DeleteMeal(id);
                    $('#meal-table').DataTable().ajax.reload();
                }
            });
    }
</script>
