
<div class="modal fade" id="user-feat_status_model" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
				<h4 class="modal-title">Request Details</h4>
				<small class="font-bold">Payment For Feature User Request</small>
			</div>
			<div class="modal-body">
				<div>
					<h1 class="font-extra-bold"> $226 </h1>
					<small>Payement Done</small>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success" onclick="MarkRequestStatus();">Approve</button>

			</div>
		</div>
	</div>
</div>