<h3>Change Password</h3>
<hr>
<div class="content">


    <p>Change your accounts password.</p>
    <div class="border-bottom text-right m-b-lg" style="padding-bottom:5px;"><small><span class="text-danger">*</span>Mandatory fields</small></div>
    <form id="chngPassForm" action="#">
        <div class="row">
            <div class="wizardform">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="a-title">Old Password</label>
                    <div class="col-sm-5">
                        <input type="password" value="" id="txtOldPassword" placeholder="******" class="form-control" name="" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bnk-name">New Password</label>
                    <div class="col-sm-5">
                        <input type="password" value="" id="txtPassword" pattern="(?=^.{6,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" class="form-control" name="" placeholder="******" required />
                        
                    </div>
					<div class="col-sm-10"><p>
                            <small> 6 characters or longer. Combine upper and lowercase  letters and numbers.</small>
                        </p>
                    </div>
                </div>
                <div class="form-group m-b">
                    <label class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-5">
                        <input type="password" value="" id="txtConfirmPassword" class="form-control" name=""  placeholder="******" required/>
                    </div>
                </div>
                <div class="f1-buttons">
                    <button type="submit" id="btnChangePassword" class="btn btn-submit btn-success btn-lg">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script>
    var profile_password = _("txtPassword"), txtConfirmPassword = _("txtConfirmPassword");
    profile_password.onchange = validatePassword;
    txtConfirmPassword.onkeyup = validatePassword;

    function validatePassword() {
        txtConfirmPassword.className = txtConfirmPassword.className.replace(" input-validation-error", "");
        if (profile_password.value != txtConfirmPassword.value) {
            txtConfirmPassword.className += " input-validation-error";
            txtConfirmPassword.setCustomValidity("Passwords Don't Match");

        } else {
            txtConfirmPassword.setCustomValidity('');
        }
    }

    document.getElementById("btnChangePassword").addEventListener("click", function () {
        document.getElementById("chngPassForm").className = "submitted";
    });

    $("#chngPassForm").submit(function (e) {
        e.preventDefault();
        feat.ChangePassword(@ViewData["profileID"]);

    });
  


</script>







