
<section id="new-seller-container" class="gray-bg">
	<div class="container p-lg">
		<div class="row">
			<h2 class="text-center">CHOOSE FROM LATEST OFFERS</h2>
            <p class="text-center font24">Explore <span style="color:#85cb15">latest </span>  <span style="color:#85cb15">restaurants </span> and cafés</p>
			<div id="new-seller-items" class="row product-container">
				@*<div class="col-lg-3 col-sm-6 col-xs-6">

					<div class="entry-thumbnail-small"> <img src="@Url.Content("~/Content/images/image04.jpg")" class="img-responsive"> </div>
					<div class="p-sm box-description">
						<h3>TOFU CHEESE</h3>
						<p>Naturally Brewed Cheese</p>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-7 ">
								<h4 class="text-success"> $1 206,40</h4>
							</div>
							<div class="col-md-6 col-sm-6   text-right col-xs-5">
								<button type="button" class="btn btn-primary2 btn-sm ">Order Now</button>
							</div>
						</div>
					</div>
				</div>*@

			</div>
		</div>
	</div>
</section>