
<section id="pop-seller-container">
    <div class="container p-lg">
        <div class="row">
            <h2 class="text-center">Popular Sellers This Month</h2>
            <p class="text-center font24">The easiest way to your <span style="color:#85cb15">favourite </span> food</p>
            <div id="pop-seller-items" class="row product-container">
                @*<div class="col-lg-4 col-sm-6">
                    <div class="hpanel">
                        <div class="panel-body no-padding">
                            <div class="entry-thumbnail"> <img src="~/Content/images/image03.jpg" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h3>Little Italy Pizza - Union Square</h3>
                                <p>• Pizza • Italian • Vegetarian Friendly</p>
                                <h4 class="text-success"> $1 206,40</h4>
                                <div class="btn btn-primary2 btn-sm">25–35 min</div>
                                <div class="btn btn-default btn-sm">4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)</div>
                                <button type="button" class="btn btn-success btn-sm pull-right">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>