<section>
	<div class="container p-lg">
		<div class="row">
			<h2 class="text-center">Get Update From Anywhere </h2>
			<p class="text-center font24">Subscribe Us to Get Our Weekly Email:</p>
			<div class="form-group subscrib">

				<div class="col-sm-10">
					<input placeholder="Enter Your Email Address" class="form-control input-lg m-b" type="text">

				</div>

				<button type="button" class="btn btn-success btn-lg col-sm-2">Submit</button>
			</div>
		</div>
	</div>
</section>
