<div class="row mainaboutrow" style="height:75vh">
    <div class="col-sm-12 text-center pt3pt" style="margin-top:120px">
        <h1 class="b">Let food lovers all around you have a </h1>
        <h1> taste of your secret recipe</h1>

        <p class="pt1pt"> <strong>Join us as a provider of homemade meals.</strong></p>
       <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <a class="join-us-custom btn btn-outline-success my-2 my-sm-0 joinbutton becomeseller" href="#join-seller-model" data-toggle="modal" type="submit" style="margin-left:-25px">Become a Chef</a>
        </div>
    </div>
    </div>
</div>

<div class="row d-flex justify-content-center ">
    <img src="~/Content/images/tashty-becomeseller.png" alt="become-seller" class="aboutimage">
</div>

<!-- <div class="d-flex justify-content-center ir">


</div> -->
<div class="container text-center p-t-45">
    <h1 class="b fs35p">Why <span style="color:red">work </span> with us</h1>


    <p class="pt2p">
        We will line up foodies who all want a taste of your dish and
    </p>
    <p class="pt2pf">
        help you earn more.
    </p>

</div>
<div class=" row d-flex justify-content-center pl22p pr22p p-t-45 p-b-45 ">
    <div class="col text-center mr7p">
        <img src="~/Content/images/icons/flexible.png" alt="flexible" class="w130p h130p">
        <h5 class="b h5-t-p">Flexible</h5>
        <hr class="ml42p w20p clr-r h2px">
        <p class="text-center txt-g">
            You are your own boss. Work whenever   you want and however u want.
        </p>

    </div>
    <div class="col text-center">
        <img src="~/Content/images/icons/management.png" alt="management" class="w130p h130p">
        <h5 class="b h5-t-p">Management</h5>
        <hr class="ml42p w20p clr-r h2px ">
        <p class="text-center txt-g">
            We will manage all your orders for you and handle the delivery.
        </p>

    </div>
    <div class="col text-center ml7p">
        <img src="~/Content/images/icons/growing.png" alt="growing" class="w130p h130p">
        <h5 class="b h5-t-p">Growing</h5>
        <hr class="ml42p w20p clr-r h2px">
        <p class="text-center txt-g">
            Make a name for yourself and your dishes.
        </p>

    </div>
</div>

<div class="row pt3p bg-im-how" style="background-image: url(/Content/New/images/logo/image-bg-how.jpg)">

    <div class="container text-center">
        <h1 class="b fs35p  clrw-p">How it <span style="color:red">works </span></h1>
        <p class=" clrw">
            These are the steps to start earning
        </p>

    </div>
    <div class=" row d-flex justify-content-center pl22p pr22p p-bb-4">


        <div class="col-md-3  text-center bgw mgt2 mgr5 pt4p pb4p h258p mb-l-5p">
            <img src="~/Content/images/icons/dishes.png" alt="dishes" class="w130 h130 mb4p">
            <h5 class="b fs17p mb4p">List your dishes</h5>

            <p class="text-center pt4p fs14p clr-gr">You get to specify the dish, its price & the preparation time you need. </p>

        </div>
        <div class="col-md-3 text-center bgw mgl5 mgt2 mgr5 pt4p pb4p h258p">
            <img src="~/Content/images/icons/notifications.png" alt="notification" class="w130 h130 mb4p">
            <h5 class="b fs17p mb4p">Get order notifications</h5>

            <p class="text-center pt4p fs14p clr-gr">Notifications are sent via email and SMS once you receive an order. </p>

        </div>
        <div class="col-md-3 text-center bgw mgl5 mgt2 mgr5 pt4p pb4p h258p">
            <img src="~/Content/images/icons/meal.png" alt="meal" class="w130 h130 mb4p">
            <h5 class="b fs17p mb4p">Prepare the meal</h5>

            <p class="text-center pt4p fs14p clr-gr">This is your chance to show your skill and love for food. </p>

        </div>

        <div class="col-md-3 text-center bgw mgl5 mgt2 mgr5 pt4p pb4p h258p ">
            <img src="~/Content/images/icons/rider.png" alt="rider" class="w130 h130 mb4p  ">
            <h5 class="b fs17p mb4p">Rider picks up</h5>

            <p class="text-center pt4p fs14p clr-gr">Rider will pick up at a scheduled time. We provide guidelines on how to best pack your food. </p>

        </div>
        <div class="col-md-3 text-center bgw mgl5  mgt2 mgr5 pt4p pb4p h258p">
            <img src="~/Content/images/icons/paid.png" alt="paid" class="w130 h130 mb4p">
            <h5 class="b fs17p mb4p">Get paid</h5>

            <p class="text-center pt4p fs14p clr-gr">Payments are made weekly and can be cashed at your convenience.</p>

        </div>


    </div>


</div>

<div class="container-fluid p4p bg-im-join" style="background-image:url(/Content/images/join-us.jpg)">
    <!-- <div class="col-sm-2">

    </div> -->
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h3 class="join-us-h b">JOIN <span class="join-us-red">US</span></h3>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <a class="join-us-custom btn btn-outline-success my-2 my-sm-0 joinbutton" href="#join-seller-model" data-toggle="modal" type="submit" style="">SIGN IN</a>
            <div class="modal fade" id="myModal1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-6 p-t-b-50">
                                    <div class="padding-50px">

                                        <div class="row d-flex justify-content-center">
                                            <h1 class="p-t-b-20">Join Tashty</h1>
                                        </div>
                                        <div class="form-group">
                                            <div class="row btn-p">
                                                <button class="newbtn-fb"><i class="fa fa-facebook"></i>&nbsp; &nbsp;Continue with Facebook</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row btn-p">
                                                <button class="newbtn-gmail"><i class="fa fa-google"></i>&nbsp; &nbsp;Continue with Google</button>
                                            </div>

                                            <div class="separator">&nbsp; or &nbsp;</div>

                                        </div>
                                        <form>
                                            <div class="form-group">
                                                <div class="row btn-p">

                                                    <p class="p-bold" for="exampleInputEmail1">Email address</p>
                                                </div>
                                                <div class="row btn-p">
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                                </div>

                                            </div>





                                            <div class="form-group">
                                                <div class="row ">
                                                    <button type="submit" class="btn btn-continue">Continue</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="form-group">
                                            <div class="row d-flex justify-content-center">
                                                <p class="p-font">Already have an account? <a href="">Sign In</a></p>
                                            </div>
                                        </div>
                                        <div class="extra-bt-p">

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6 bg-img-model1">
                                    <div class="row d-flex justify-content-end txtalign-btm">

                                        <h1 class="h1-custom">JOIN NOW</h1>
                                        <P class="p-custom">Order your favourite food from best sellers</P>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myBtn').trigger('click');
    })
</script>

