<div class="modal fade" id="ForgotPassword">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content custom-moal-w">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="modle3-p-l-r modle3-p-t-b">
                            <div class="row d-flex justify-content-center">
                                <h1 class="p-t-b-20 font-size">Forgot Password</h1>
                            </div>
                            <form action="#" id="ForgotPassForm">
                                <div class="form-group">
                                    <div class="row ">
                                        <p class="p-bold">Email Address</p>
                                        <input type="email" class="form-control" id="usr">

                                    </div>
                                </div>
                                <div class="row">
                                    <p class="p-light">Enter the email address that is associated with your account</p>
                                </div>
                                <div class="green-space">

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <button type="submit" class="btn btn-continue">Continue</button>
                                    </div>
                                </div>
                            </form>
                            <p class="two-texts"><a href="#" class="join-as-buyer-login" id="linklogin">i remember  now</a>&nbsp; <a href="#" class="join-buyer-model" id="linksignup">I need an account</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#ForgotPassForm").submit(function (e) {
        
        e.preventDefault();
        var emailID = $('#usr').val();
        ForgotPassword(emailID);
    });
    $('#linklogin').click(function () {

        CloseModel("ForgotPassword");
    });
    $('#linksignup').click(function () {

        CloseModel("ForgotPassword");
    });
</script>