<!DOCTYPE html>
<html lang="en">
<head>
	<title>Discover Food - Tashty</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="images/logo/fevicon.png"/>
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="vendor/revolution/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="vendor/revolution/css/settings.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" rel="stylesheet" type="text/css"/> -->
		
		<link rel="stylesheet" href="css/mobiscroll.javascript.min.css">
    <script src="js/mobiscroll.javascript.min.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css" href="css/discoverfood.css">
<link rel="stylesheet" type="text/css" href="css/food-crousel.css">
<link rel="stylesheet" type="text/css" href="css/items-carousel.css">
<link rel="stylesheet" type="text/css" href="css/package.css">
<style>


</style>


	
<!--===============================================================================================-->
</head>
<body class="animsition">

		<!-- Header -->
		<div id="topheader">
		<header>
			<!-- Header desktop -->
			<div class="container-menu-desktop">
				<div class="wrap-menu-desktop">
					<nav class="limiter-menu-desktop">
						<div class="left-header">
							<!-- Logo desktop -->		
							<div class="logo">
								<a href="index.html"><img src="images/logo/tashty-logo-1.png" alt=" Tashty Logo"></a>
							</div>	
						</div>
							
						<div class="right-header">
							<!-- Menu desktop -->
							<div class="menu-desktop">
								<ul class="main-menu">
                                    <li >
                                        <a href="index.html">Home
								</a>
                                        
									</li>
									<li>
										<a href="index.html#featuredchefs">Featured Chefs</a>
										
									</li>
									<li>
										<a href="discoverchefs.html">Discover Chefs</a>
										
									</li>
									<li class="active-menu active">
										<a href="discoverfoods.html">Discover Food</a>
										
									</li>
									<li>
										<a class="not-active" href="#">Packages</a>
										<ul class="sub-menu">
                                            
                                            <li><a href="#">Weekly</a></li>
                                            <li><a href="#">Monthly</a></li>
                                            
                                        </ul>
                                        
									</li>
									<li>
                                        <a href="#">Sign up</a>
                                        
									</li>
									<li>
                                        <a href="#">Sign in</a>
                                        
									</li>
									<li>
                                        <a href="becomeaseller.html" class="sellernav">How to Become a Seller?</a>
                                        
									</li>
    
                                    <li>
                                        <a href="index.html#about-us">About us</a>
                                        
                                    </li>
    
									<li>
										<a href="contactus.html">Contact us</a>
										
									</li>
    
                                    
    
                                    <!-- <li>
                                        <a class="btn btn-outline-success my-2 my-sm-0 joinbutton" type="submit" style="">JOIN</a>
    
                                    </li> -->
    
                                    
									<li>
									<div class="icon-header-item flex-c-m trans-04 icon-header-noti" data-notify="2">
										<img src="images/icons/icon-cart-2.png" alt="CART">
									</div>
									</li>
									<li class="nav-item dropdown no-arrow nav-item ">
										<a class="nav-link dropdown-toggle nav-link not-active" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										 
										  <img class="img-profile rounded-circle" src="img/user-d.jpg">
										</a>
										<!-- Dropdown - User Information -->
										<ul class="sub-menu sub-menu-left">
                                            
											<li><a href="my-order.html"><i class="fab fa-bitbucket fas-pr"></i> My Orders</a></li>
											<li><a href="#"><i class="fas fa-user fas-pr"></i> Notifications</a>
												<ul class="sub-menu sub-menu-left-bottom">
                                            
													<li><a href="#">Notofication 1</a></li>
													<li><a href="#">Notifications</a></li>
													<li><a href="#">Notification 2</a></li>
													<!-- <li><a href="#"><i class="far fa-heart fas-pr"></i> Favourites</a></li> -->
													<li><a href="#">Notification 3</a></li>
													<li><a href="#">Notification 4</a></li>
													
												</ul></li>
											<li><a href="order-received.html"><i class="fas fa-cart-plus fas-pr"></i> My Bucket</a></li>
											<!-- <li><a href="#"><i class="far fa-heart fas-pr"></i> Favourites</a></li> -->
											<li><a href="personal-information.html"><i class="fas fa-user fas-pr"></i> Profile Settings</a></li>
											<li><a href="#"><i class="fas fa-sign-out-alt fas-pr"></i> Logout</a></li>
                                            
                                        </ul>
									  </li>
                                </ul>
							</div>
						</div>
							
					
					</nav>
				</div>	
			</div>
	
			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a href="featuredchefs.html"><img src="images/logo/tashty-logo-1.png" alt=" Tashty Logo"></a>
	
				</div>
	
				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click m-r-15">
					<div class="h-full flex-m">
						<div class="icon-header-item flex-c-m trans-04 js-show-modal-search">
							<img src="images/icons/icon-search.png" alt="SEARCH">
						</div>
					</div>
	
					<div class="wrap-cart-header h-full flex-m m-l-5 menu-click">
						<div class="icon-header-item flex-c-m trans-04 icon-header-noti" data-notify="2">
							<img src="images/icons/icon-cart-2.png" alt="CART">
						</div>
	
						<div class="cart-header menu-click-child trans-04">
							<div class="bo-b-1 bocl15">
								<!-- cart header item -->
								<div class="flex-w flex-str m-b-25">
									<div class="size-w-15 flex-w flex-t">
										<a href="#" class="wrap-pic-w bo-all-1 bocl12 size-w-16 hov3 trans-04 m-r-14">
											<img src="images/item-cart-01.jpg" alt="PRODUCT">
										</a>
	
										<div class="size-w-17 flex-col-l">
											<a href="#" class="txt-s-108 cl3 hov-cl10 trans-04">
												Cheery
											</a>
	
											<span class="txt-s-101 cl9">
												18$
											</span>
	
											<span class="txt-s-109 cl12">
												x2
											</span>
										</div>
									</div>
	
									<div class="size-w-14 flex-b">
										<button class="lh-10">
											<img src="images/icons/icon-close.png" alt="CLOSE">
										</button>
									</div>
								</div>
	
								<!-- cart header item -->
								<div class="flex-w flex-str m-b-25">
									<div class="size-w-15 flex-w flex-t">
										<a href="#" class="wrap-pic-w bo-all-1 bocl12 size-w-16 hov3 trans-04 m-r-14">
											<img src="images/item-cart-02.jpg" alt="PRODUCT">
										</a>
	
										<div class="size-w-17 flex-col-l">
											<a href="#" class="txt-s-108 cl3 hov-cl10 trans-04">
												Asparagus
											</a>
	
											<span class="txt-s-101 cl9">
												12$
											</span>
	
											<span class="txt-s-109 cl12">
												x1
											</span>
										</div>
									</div>
	
									<div class="size-w-14 flex-b">
										<button class="lh-10">
											<img src="images/icons/icon-close.png" alt="CLOSE">
										</button>
									</div>
								</div>
							</div>
	
							<div class="flex-w flex-sb-m p-t-22 p-b-12">
								<span class="txt-m-103 cl3 p-r-20">
									Subtotal
								</span>
	
								<span class="txt-m-111 cl6">
									48$
								</span>
							</div>
	
							<div class="flex-w flex-sb-m p-b-31">
								<span class="txt-m-103 cl3 p-r-20">
									Total
								</span>
	
								<span class="txt-m-111 cl10">
									48$
								</span>
							</div>
	
							<a href="#" class="flex-c-m size-a-8 bg10 txt-s-105 cl13 hov-btn2 trans-04">
								check out
							</a>	
						</div>
					</div>
				</div>
	
				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
	
	
			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="main-menu-m">
					<li>
						<a href="index.html">HOME</a>
						
					</li>
					<li>
						<a href="index.html#featuredchefs">FEATURED CHEFS</a>
						
					</li>
					<li>
						<a href="discoverchefs.html">DISCOVER CHEFS</a>
					</li>
					<li>
						<a href="discoverfoods.html">DISCOVER FOOD</a>
					</li>
					<li>
						<a href="#">PACKAGES</a>
						<ul class="sub-menu-m">
							<li><a href="#">WEEKLY</a></li>
							<li><a href="#">MONTHLY</a></li>
		</ul>

		<span class="arrow-main-menu-m">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</span>
					</li>
	
				
	
					<li>
						<a href="#">SIGN UP</a>
						
					</li>
					<li>
						<a href="#">SIGN IN</a>
						
					</li>
					<li>
						<a href="becomeaseller.html">HOW TO BECOME A SELLER?</a>
						
					</li>
					<li>
						<a href="#">ABOUT US</a>
						
					</li>
					<li>
						<a href="contactus.html">Contact us</a>
						
					</li>
					
					
					<li>
						<a href="#">USERNAME</a>
						<ul class="sub-menu-m">
							<li><a href="my-order.html"><i class="fab fa-bitbucket fas-pr"></i> My Orders</a></li>
											<li><a href="#"><i class="fas fa-user fas-pr"></i> Notifications</a>
												<ul class="sub-menu-m">
											
													<li><a href="#">Notofication 1</a></li>
													<li><a href="#">Notifications</a></li>
													<li><a href="#">Notification 2</a></li>
													<!-- <li><a href="#"><i class="far fa-heart fas-pr"></i> Favourites</a></li> -->
													<li><a href="#">Notification 3</a></li>
													<li><a href="#">Notification 4</a></li>
													
												</ul>
												<span class="arrow-main-menu-m">
													<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span></li>
											<li><a href="order-received.html"><i class="fas fa-cart-plus fas-pr"></i> My Bucket</a></li>
											<!-- <li><a href="#"><i class="far fa-heart fas-pr"></i> Favourites</a></li> -->
											<li><a href="personal-information.html"><i class="fas fa-user fas-pr"></i> Profile Settings</a></li>
											<li><a href="#"><i class="fas fa-sign-out-alt fas-pr"></i> Logout</a></li>
		</ul>

		<span class="arrow-main-menu-m">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</span>
					</li>
					
				</ul>
			</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
				<span class="lnr lnr-cross"></span>
			</button>
			
			<div class="container-search-header">
				<form class="wrap-search-header flex-w">
					<button class="flex-c-m trans-04">
						<span class="lnr lnr-magnifier"></span>
					</button>
					<input class="plh1" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>
</div>
	<!-- Slider -->
	
							<!--mobile header start  -->
							
							</div>
	<!-- box shadow row -->
	

	<!-- Product -->
	<div class="container">
	<div class="row">
		<div class=" col-md-3 col-lg-3">
			
				<div class="leftbar p-t-15">
					<!--  -->
					<div class="p-t-20">
					<div class="size-a-21 pos-relative">
						<input class="s-full bo-all-1 bocl15 p-rl-20" type="text" name="search" placeholder="Search Seller...">
						<button class="flex-c-m fs-18 size-a-22 ab-t-r hov11">
							<img class="hov11-child trans-04" src="images/icons/icon-search.png" alt="ICON">
						</button>
					</div>
				</div>

					<!--  -->
					
					<div class="p-t-20">
						<h4 class="txt-mm-101 cl3">
							DELIVERY TIME
						</h4>	
					<label>
						
						<input mbsc-slider type="range" value="15" min="0" max="60" step="15" data-step-labels="[0, 15,30,45,60]">
					</label>
					<div class="flex-sb-m flex-w p-t-16">
						<div class="txt-ss-115 cl9 p-t-10 p-b-10 m-r-20">
							Time: Minutes to Hours
						</div>
	
						<div>
							<a href="#" class="txt-sss-115 cl6 hov-cl10 trans-04">
								Filter
							</a>
						</div>
					</div>
				</div>
					
						
					<!--  -->
					<div class="p-t-20">
						<h4 class="txt-mm-101 cl3 p-b-20">
							Categories
						</h4>

						<ul>
							<li class="p-b-5">
								<a href="#" class="flex-sb-m flex-w txt-ss-115 cl3 hov-cl10 trans-04 p-tb-3">
									<span class="m-r-10">
										Vegetable
									</span>

									<span>
										3
									</span>
								</a>
							</li>

							<li class="p-b-5">
								<a href="#" class="flex-sb-m flex-w txt-ss-115 cl3 hov-cl10 trans-04 p-tb-3">
									<span class="m-r-10">
										Fruit
									</span>

									<span>
										5
									</span>
								</a>
							</li>

							<li class="p-b-5">
								<a href="#" class="flex-sb-m flex-w txt-ss-115 cl3 hov-cl10 trans-04 p-tb-3">
									<span class="m-r-10">
										Fruit Juice
									</span>

									<span>
										9
									</span>
								</a>
							</li>

							<li class="p-b-5">
								<a href="#" class="flex-sb-m flex-w txt-ss-115 cl3 hov-cl10 trans-04 p-tb-3">
									<span class="m-r-10">
										Dried
									</span>

									<span>
										9
									</span>
								</a>
							</li>

							<li class="p-b-5">
								<a href="#" class="flex-sb-m flex-w txt-ss-115 cl3 hov-cl10 trans-04 p-tb-3">
									<span class="m-r-10">
										Other
									</span>

									<span>
										2
									</span>
								</a>
							</li>
						</ul>
					</div>

					<!--  -->
				

					<!--  -->
					<div class="p-t-25" style="display: none;">
						<h4 class="txt-m-101 cl3 p-b-37">
							
						</h4>

						<div class="flex-w m-r--10">
							
						</div>
					</div>
				</div>
			
		</div>
		<div class=" col-md-9 col-lg-9"> 			
			<div class="sec-product bg0 p-t-80">
				<div class="container">
					<div class="size-a-1 flex-col-c-m p-b-48" style="padding-bottom:0%!important;">
						<!-- <div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14 f-s-17">
							FOOD ITEMS
		
							<div class="how-pos1">
								<img src="images/icons/symbol-02.png" alt="IMG" class="h17p">
							</div>
						</div> -->
		
						<h3 class=" sel-h-s txt-center txt-l-101 cl3 respon1 f-s-30p">
							PACKAGES
						</h3>
					</div>
		
					<div class="row d-flex justify-content-center">
						<div class="card-pd">
								<div class="mycard" style="width: 17rem;">
										<div class="item">
												<a href="#">
												 
										<img src="images/cards-images.jpg" class="card-img-top" alt="...">
										</a>
										</div>
										
										<div class="mycard-body">
											<div class="row d-flex justify-content-center">
												<div class="col-8">
										  <h5 class="mycard-title">Budget Package<br><p class="ct-text-black">Weekly<span class="ct-text-red"> </span></p></h5>
										</div>
										<div class="col-4">
										  <p class="card-text">RS.<span class="s-card-text">150</span></p>
										  </div>
										</div>
										</div>
										<div class="card-body-2">
												<div class="row">
														<div class="col-md-12">               
														<div class="starrating risingstar d-flex justify-content-left star-p">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
															<p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
														</div>
														</div>
														
														</div>
												  
										</div>
										
										<div class="ex-space"></div>
										<div class="card-body-5 mycard-p-20">
												<div class="row ">
														<div class="col-md-12"> 
												<button type="button" class="btn btn-primary btn-xs bg-trans">Details</button>
												</div>
												</div>
										</div>
										<div class="ex-space-2"></div>
										
									  </div>
						</div>
						<div class="card-pd">
								<div class="mycard" style="width: 17rem;">
										<div class="item">
												<a href="#">
												 
										<img src="images/cards-images-2.jpg" class="card-img-top" alt="...">
										</a>
										</div>
										
										<div class="mycard-body">
											<div class="row d-flex justify-content-center">
												<div class="col-8">
										  <h5 class="mycard-title">Budget package<br><p class="ct-text-black">Weekly<span class="ct-text-red"> </p></span></h5>
										</div>
										<div class="col-4">
										  <p class="card-text">RS.<span class="s-card-text"> 150</span></p>
										  </div>
										</div>
										</div>
										<div class="card-body-2">
												<div class="row">
														<div class="col-md-12">               
														<div class="starrating risingstar d-flex justify-content-left star-p">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
															<p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
														</div>
														</div>
														
														</div>
												  
										</div>
										<div class="ex-space"></div>
										
										<div class="card-body-5 mycard-p-20">
												<div class="row ">
														<div class="col-md-12"> 
												<button type="button" class="btn btn-primary btn-xs bg-trans">Details</button>
												</div>
												</div>
										</div>
										<div class="ex-space-2"></div>
										
									  </div>
						</div>
						<div class="card-pd">
								<div class="mycard" style="width: 17rem;">
										<div class="item">
												<a href="#">
												  
													
										<img src="images/cards-images-3.jpg" class="card-img-top" alt="...">
										</a>
										</div>
										
										<div class="mycard-body">
											<div class="row d-flex justify-content-center">
												<div class="col-8">
										  <h5 class="mycard-title">Budget Package<br><p class="ct-text-black">Weekly<span class="ct-text-red"> </p></span></h5>
										</div>
										<div class="col-4">
										  <p class="card-text">RS.<span class="s-card-text"> 150</span></p>
										  </div>
										</div>
										</div>
										<div class="card-body-2">
												<div class="row">
														<div class="col-md-12">               
														<div class="starrating risingstar d-flex justify-content-left star-p">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
															<p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
														</div>
														</div>
														
														</div>
												  
										</div>
										<div class="ex-space"></div>
										
										<div class="card-body-5 mycard-p-20">
												<div class="row ">
														<div class="col-md-12"> 
												<button type="button" class="btn btn-primary btn-xs bg-trans">Details</button>
												</div>
												</div>
										</div>
										<div class="ex-space-2"></div>
										
									  </div>
						</div>
						<div class="card-pd">
							<div class="mycard" style="width: 17rem;">
									<div class="item">
											<a href="#">
											  
									<img src="images/cards-images-2.jpg" class="card-img-top" alt="...">
									</a>
									</div>
									
									<div class="mycard-body">
										<div class="row d-flex justify-content-center">
											<div class="col-8">
									  <h5 class="mycard-title">Budget Package Pie<br><p class="ct-text-black">Weekly<span class="ct-text-red"> </p></span></h5>
									</div>
									<div class="col-4">
									  <p class="card-text">RS.<span class="s-card-text"> 150</span></p>
									  </div>
									</div>
									</div>
									<div class="card-body-2">
											<div class="row">
													<div class="col-md-12">               
													<div class="starrating risingstar d-flex justify-content-left star-p">
														<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
														<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
														<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
														<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
														<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
														<p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
													</div>
													</div>
													
													</div>
											  
									</div>
									
									<div class="ex-space"></div>
									<div class="card-body-5 mycard-p-20">
											<div class="row ">
													<div class="col-md-12"> 
											<button type="button" class="btn btn-primary btn-xs bg-trans">Details</button>
											</div>
											</div>
									</div>
									<div class="ex-space-2"></div>
									
								  </div>
					</div>
					<div class="card-pd">
						<div class="mycard" style="width: 17rem;">
								<div class="item">
										<a href="#">
										  
								<img src="images/cards-images-3.jpg" class="card-img-top" alt="...">
								</a>
								</div>
								
								<div class="mycard-body">
									<div class="row d-flex justify-content-center">
										<div class="col-8">
								  <h5 class="mycard-title">Budget Package<br><p class="ct-text-black">Weekly<span class="ct-text-red"> </p></span></h5>
								</div>
								<div class="col-4">
								  <p class="card-text">RS.<span class="s-card-text"> 150</span></p>
								  </div>
								</div>
								</div>
								<div class="card-body-2">
										<div class="row">
												<div class="col-md-12">               
												<div class="starrating risingstar d-flex justify-content-left star-p">
													<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
													<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
													<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
													<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
													<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
													<p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
												</div>
												</div>
												
												</div>
										  
								</div>
								
								<div class="ex-space"></div>
								<div class="card-body-5 mycard-p-20">
										<div class="row ">
												<div class="col-md-12"> 
										<button type="button" class="btn btn-primary btn-xs bg-trans">Details</button>
										</div>
										</div>
								</div>
								<div class="ex-space-2"></div>
								
							  </div>
				</div>
				<div class="card-pd">
					<div class="mycard" style="width: 17rem;">
							<div class="item">
									<a href="#">
									  
							<img src="images/cards-images.jpg" class="card-img-top" alt="...">
							</a>
							</div>
							
							<div class="mycard-body">
								<div class="row d-flex justify-content-center">
									<div class="col-8">
							  <h5 class="mycard-title">Budget Package<br><p class="ct-text-black">Weekly<span class="ct-text-red"></p></span></h5>
							</div>
							<div class="col-4">
							  <p class="card-text">RS.<span class="s-card-text"> 150</span></p>
							  </div>
							</div>
							</div>
							<div class="card-body-2">
									<div class="row">
											<div class="col-md-12">               
											<div class="starrating risingstar d-flex justify-content-left star-p">
												<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
												<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
												<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
												<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
												<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
												<p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
											</div>
											</div>
											
											</div>
									  
							</div>
							<div class="ex-space"></div>
							
							<div class="card-body-5 mycard-p-20">
									<div class="row ">
											<div class="col-md-12"> 
									<button type="button" class="btn btn-primary btn-xs bg-trans">Details</button>
									</div>
									</div>
							</div>
							<div class="ex-space-2"></div>
							
						  </div>
			</div>
					</div>
		
					
			</div>
			<br>
			<br>
			
			</div>
			<br>
			<br>
					<!-- Product -->
			
		</div>

</div>
</div>

	
	

	<!-- Footer -->
	<footer class="bg-img">
		<div class="bg-img2 ">
			<div class="container footer-l-r-p" >
				<div class="wrap-footer flex-w pt30p p-b-12">
					<div class="footer-col1 p-b-25">
						<div class="p-b-28">
							<span class="txt-m-109 cl10 clrw f-s16">
								About Us
							</span>
						</div>

						<p class="txt-s-101 cl6 size-w-10 p-b-12">
							Tashty is a Platform that connects chefs with food lovers looking for homemade meals delivered to wherever they study,
							 work or live at affordable rates. We believe that you deserve the best food that is not only tasty but also healthy, that's tashty.
						</p>

						<ul>
							<li class="txt-s-101 clrw flex-t p-b-10 ">
								<span class="size-w-11 ">
									<!-- <img src="images/icons/icon-mail.png" alt="ICON-MAIL"> -->
									<i class="fa fa-envelope"></i>
								</span>

								<span class="size-w-12 p-t-1 clrw f-s14 ">
									<a href="mailto:contact@tashty.com" class="clrw">contact@tashty.com</a>
								</span>
							</li>

						

							<li class="txt-s-101 clrw flex-t p-b-10">
								<span class="size-w-11">
									<!-- <img src="images/icons/icon-phone.png" alt="ICON-MAIL"> -->
									<i class="fa fa-phone"></i>
								</span>

								<span class="size-w-12 p-t-1 clrw f-s14">
									(785) 977 5767
								</span>
							</li>
						</ul>
					</div>

					<div class="footer-col2 p-b-25">
						<div class="p-b-28">
							<span class="txt-m-109 cl10 clrw f-s16">
								Information
							</span>
						</div>

						<ul>
							

							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									Top sellers
								</a>
							</li>

							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									Our blog
								</a>
							</li>

							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									New products
								</a>
							</li>

							<li class="p-b-12">
								<a href="contactus.html" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									Contact us
								</a>
							</li>
							<li class="p-b-12">
								<a href="termsofuse.html" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									Terms of use
								</a>
							</li>
						</ul>
					</div>

					<div class="footer-col3 p-b-25">
						<div class="p-b-28">
							<span class="txt-m-109 cl10 clrw f-s16">
								My Account
							</span>
						</div>

						<ul>
							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									My account
								</a>
							</li>

							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									Discount
								</a>
							</li>

							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									Personal information
								</a>
							</li>

							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									My address
								</a>
							</li>

							<li class="p-b-12">
								<a href="#" class="txt-s-101 cl6 hov-cl10 trans-04 p-tb-5 clrw f-s14">
									Order history
								</a>
							</li>
						</ul>
					</div>

					<div class="footer-col4 p-b-25">
						<div class="p-b-25">
							<span class="txt-m-109 cl10 clrw f-s16">
								Subscribe
							</span>
						</div>

						<p class="txt-s-101 cl6 p-b-33">
							Subscribe and be a part of the Tashty family to get the latest updates and offers. 
							We promise we won't spam your mailbox. It is just so we can stay connected.
						</p>

						<form class="flex-w">
							<input class="size-aa-11 bg0 plh1 txt-s-111 cl3 p-rl-15" type="text" name="email" placeholder="Your email address">
							<button class="flex-c-m size-aa-10 bg10 hov-btn2 trans-04">
								<img src="images/icons/icon-send.png" class="nav-footer-sub" alt="SENT">
							</button>
						</form>
					</div>
				</div>

				<div class="flex-w flex-sb-m bo-t-1 bocl14 ">
					<span class="txt-s-101 cl9 p-tb-10 p-r-29 f-s14 clrw">
						Copyright © 2020 <a href="http://tashty.com/" class="clrw">TASHTY.</a> All rights reserved.
					</span>

					
				</div>
			</div>
		</div>
	</footer>
	

	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="lnr lnr-chevron-up"></span>
		</span>
	</div>

	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/carousel-item.js"></script>

	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="vendor/noui/nouislider.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/waypoint/jquery.waypoints.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countterup/jquery.counterup.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="js/active-link.js"></script>
	
	

</body>
</html>