@{

    ViewBag.Title = "Tashty | Privacy Policy";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";

    string username = ViewBag.username;
    string photo = ViewBag.photo;
    int profileID = ViewBag.profileID;
    bool isSeller = ViewBag.isSeller;

}
@if (profileID == 0)
{
    @section headerSection {
        @Html.Partial("_LayoutStaticHeader")
    }
}
else
{
    @section headerSection {
        @Html.Partial("_LayoutInUserHeader")
    }
}
<section>
    <div class="container sectionspc">


        <div class="col-md-12">
            <h2>Privacy Policy</h2>
            <div class="hpanel">
                <div class="panel-body">



                    <h4 class="font-bold">1. Contact Details</h4>
                    <p>If you have any queries or requests concerning this privacy policy or how we handle your data more generally, please get in touch with us using the following details.</p>


                    <h4 class="font-bold">2. How We Collect Your Information</h4>
                    <p>We collect your personal information when you interact with us or use our services, such as when you use our Sites to place an order. We also look at how visitors use our Sites, to help us improve our services and optimise customer experience.</p>


                    <h4 class="font-bold">3. Information We Collect From You</h4>
                    <p>As part of our commitment to the privacy of our customers and visitors to our Sites more generally, we want to be clear about the sorts of information we will collect from you.</p>


                    <h4 class="font-bold">4. Use Of Your Information</h4>
                    <p>We will only process the data we collect about you if there is a reason for doing so, and if that reason is permitted under data protection law. We will have a lawful basis for processing your information: if we need to process your information in order to provide you with the service you have requested or to enter into a contract; we have your consent; we have a justifiable reason for processing your data; or we are under a legal obligation to do so.</p>


                    <h4 class="font-bold">5. Deliveroo For Business</h4>
                    <p>We also process your information to determine whether you may be interested in hearing about our Deliveroo for Business service and, if your employer signs up for Deliveroo for Business, to make this service available to you.</p>


                    <h4 class="font-bold">6. Cookies</h4>
                    <p>You can set your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies. If you disable or refuse cookies, please note that some parts of the Site may become inaccessible or not function properly. For more information about the cookies we use, please see our Cookie Policy</p>

                    <h4 class="font-bold">7. Direct Marketing</h4>
                    <p>
                        Where you have given your consent or where we have a justifiable reason for doing so (and are permitted to do so by law) we will use your information to let you know about our other products and services that may be of interest to you and we may contact you to do so by email or phone. You can control your email marketing preferences by:

                        visiting our website, www.deliveroo.co.uk, or mobile application;
                        clicking on "Account" (for our website this is under the drop-down menu); and
                        scrolling down to "Marketing Preferences".
                    </p>
                    <h4 class="font-bold">8. Automated Decision Making</h4>
                    <p>We conduct fraud checks on all customers. Where we believe we may detect fraudulent activity we may block you from placing an order and using our Sites.</p>


                    <h4 class="font-bold">9. Retention Of Your Information</h4>
                    <p>We will not retain your information for any longer than we think is necessary.</p>


                    <h4 class="font-bold">10. Disclosure Of Your Information</h4>
                    <p>The information we collect about you will be transferred to and stored on our servers located within the EU. We are very careful and transparent about who else your information is shared with.</p>


                    <h4 class="font-bold">11. Security</h4>
                    <p>We adopt robust technologies and policies to ensure the personal information we hold about you is suitably protected.</p>


                    <h4 class="font-bold">12. Your Rights</h4>
                    <p>Under data protection law, you may have a number of rights concerning the data we hold about you. If you wish to exercise any of these rights, please contact our Data Protection Officer using the contact details set out above. For additional information on your rights please contact your data protection authority and see below.</p>


                    <h4 class="font-bold">13. Changes To Our Privacy Policy</h4>
                    <p>
                        Any changes to our privacy policy will be posted to the Sites and, where appropriate, we will notify you of the changes for example by email or push notification.

                        This privacy policy was last updated: 22/05/2018
                    </p>

                    <h4 class="font-bold">14. Complaints</h4>
                    <p>
                        If you’re not satisfied with our response to any complaint or believe our processing of your information does not comply with data protection law, you can make a complaint to the Information Commissioner’s Office (ICO) using the following details:

                        Address: Information Commissioner’s Office, Wycliffe House, Water Lane, Wilmslow, Cheshire SK9 5AF

                        Telephone number: 0303 123 1113

                        Website: www.ico.org.uk

                        Roofoods Limited, The River Building, 1 Cousin Lane, London, EC4R 3TE, United Kingdom
                    </p>

                </div>
            </div>


        </div>

    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {


        @if (!String.IsNullOrEmpty(username))
        {<text> @*console.log('username =>' + @username);*@ _setIn('txtUsername', '@username'); </text>}
           @if (!String.IsNullOrEmpty(photo))
           { <text> @*console.log('photo =>' + @photo);*@ $("#imgLogo").attr("src", baseURL + '/Uploads/ProfilePictures/thumb-70/@photo'); </text> }
              @if (profileID != 0)
              { <text> console.log('profileID =>' + '@profileID');</text> }
        @if(isSeller==true) {
                  <text>
        $("#lnkMyAcc").attr("href", '@Url.Action("Dashboard", "Seller")');
        $("#lnkSetting").show();
                  </text>
              }
              else
              {
                  <text>
        $("#lnkMyAcc").attr("href", '@Url.Action("Dashboard", "Buyer")');
        $("#lnkSetting").hide();
                  </text>
              }

    });

</script>