
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tashty Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/New/images/logo/fevicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/bootstrap/css/bootstrap.min.css">
    <href ="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></href>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/animate/animate.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/css-hamburgers/hamburgers.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/animsition/css/animsition.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/select2/select2.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/daterangepicker/daterangepicker.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/slick/slick.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/lightbox2/css/lightbox.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/revolution/css/settings.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~/Content/New/css/becomeaseller.css">
    <link rel="stylesheet" type="text/css" href="~/Content/New/css/model.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" rel="stylesheet" type="text/css"/> -->
    <!-- filters -->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/noui/nouislider.min.css">
    <link rel="stylesheet" href="~/Content/New/css/mobiscroll.javascript.min.css">
    <script src="~/Content/New/js/mobiscroll.javascript.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/New/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/New/css/main.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/Content/New/css/index.css">
    <link rel="stylesheet" type="text/css" href="~/Content/New/css/discoverchef.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/items-crousel.css"> -->
    <link rel="stylesheet" type="text/css" href="~/Content/New/css/items-carousel.css">
    <link href="~/Content/New/css/dash-css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/New/css/dash-css/dashboard-style.css" rel="stylesheet">
    <link href="~/Content/New/css/dash-css/addtocart.css" rel="stylesheet">
    <link href="~/Content/New/css/dash-css/mybuckets.css" rel="stylesheet">
    <link href="~/Content/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/blockUI/block.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div class="containter-fluid maindashboard-pr-settings">

        <form action="#" id="RecoverForm">
            <input type="hidden" id="UserID" value="@ViewBag.UserID" />
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="pr-info-head">Recover Password</h2>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        <div class="formSel">
                            <div class="row sellform">
                                <div class="col-sm-8 pd-mr-0">
                                    <label for="email">New Password <span class="str-r">*</span></label>
                                    <input type="password" placeholder="********" title="Enter new password" required="" value="" name="Password" id="Password" class="form-control">
                                </div>
                                <div class="col-sm-8 pd-mr-0">
                                    <label for="email">Confirm New Password <span class="str-r">*</span></label>
                                    <input type="password" placeholder="********" title="confirm new password" required="" value="" name="ConfirmPassword" id="ConfirmPassword" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <p class="p-t-10"> 8 characters or longer. Combine upper and lowercase letters and numbers.</p>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" value="Test Required" class="order-btn btn-btn-order">Reset Password</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </form>
</div>

    <!-- Simple splash screen-->

    <script>
        $(document).ready(function () {
            $('.sweet-alert').hide();
        })
        $("#RecoverForm").submit(function (e) {
            e.preventDefault();
            var UserID = $('#UserID').val();
            var Password = $('#Password').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            var regex = '^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}';
             if (!Password.match(regex)) {
                return toastr.error("Please enter correct format of password mention below.");
            }
            if (Password != ConfirmPassword) {
                toastr.error("Password and confirm password does not match.");
                return false;
            }
            RecoverPassword(UserID, Password);
        });
        $('#linklogin').click(function () {

            CloseModel("ForgotPassword");
            OpenModel("login-model");
        });
        $('#linksignup').click(function () {

            CloseModel("ForgotPassword");
            OpenModel("join-us-model");
        });
    </script>
    <script src="~/Content/New/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/New/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/New/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/New/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/New/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/New/vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/New/js/revo-custom.js"></script>
    <script src="~/Content/New/vendor/select2/select2.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Content/New/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/New/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/New/vendor/slick/slick.min.js"></script>
    <script src="~/Content/New/js/slick-custom.js"></script>
    <script src="~/Content/New/vendor/parallax100/parallax100.js"></script>
    <script src="~/Content/New/vendor/lightbox2/js/lightbox.min.js"></script>
    <script src="~/Content/New/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/New/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/New/vendor/countdowntime/moment.min.js"></script>
    <script src="~/Content/New/vendor/countdowntime/moment-timezone.min.js"></script>
    <script src="~/Content/New/vendor/countdowntime/moment-timezone-with-data.min.js"></script>
    <script src="~/Content/New/vendor/countdowntime/jquery.countdown.min.js"></script>
    <script src="~/Content/New/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/New/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/New/vendor/waypoint/jquery.waypoints.min.js"></script>
    <script src="~/Content/New/vendor/countterup/jquery.counterup.min.js"></script>
    <script src="~/Content/vendor/toastr/toastr.min.js"></script>
    <script src="~/Content/vendor/blockUI/jquery.blockUI.js"></script>
    <script src="~/Content/vendor/sweetalert/lib/sweet-alert.min.js"></script>
    <script src="~/Content/New/js/main.js"></script>
    <script src="~/Content/New/js/active-link.js"></script>
    <script src="~/Content/New/js/main-2.js"></script>
    <script src="~/Content/New/vendor/noui/nouislider.min.js"></script>
    <script src="~/Content/New/js/mobiscroll.javascript.min.js"></script>
    <script src="~/Content/New/js/carousel-item.js"></script>

    @*<script src="https://apis.google.com/js/api:client.js"></script>
        @Scripts.Render("~/bundles/UploadScript")
        <script src="https://apis.google.com/js/platform.js" async defer></script>
            <meta name="google-signin-client_id" content="AIzaSyC4Xng5g63IerG7SrH2KBuh5N-h64FGIm0.apps.googleusercontent.com">

        <meta name="google-signin-scope" content="profile email">
            <meta name="google-signin-client_id" content="AIzaSyC4Xng5g63IerG7SrH2KBuh5N-h64FGIm0.apps.googleusercontent.com">*@


</body>
</html>


