
<div class="modal fade" id="view-deal-items" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header text-center p-xs">
				<h4 class="modal-title">Deal Item List</h4>
			</div>
			<div class="modal-body deal-itmlist">
				<div class="table-responsive">
					<table class="table table-condensed" cellspacing="1" cellpadding="1">
						<thead>
							<tr>
								<th style="width:25%">Title</th>
								<th style="width:55%;">Description</th>
								<th style="width:10%;">Serving</th>
								<th style="width:10%;">Price</th>
							</tr>
						</thead>
						<tbody id="deal_item_table">
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
			</div>
		</div>
	</div>
</div>