
<div class="modal fade hmodal-success" id="seller_add_hist_model" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header text-center p-xs">
				<h4 class="modal-title">Address History</h4>
			</div>
			<div class="modal-body Address-History ">

				<div class="table-responsive ">
					<table class="table table-condensed" cellspacing="1" cellpadding="1">
						<thead>
							<tr>
								<th>Address</th>
								<th>Date</th>
								<th>Type</th>
								<th>Active</th>
							</tr>
						</thead>
						<tbody id="Seller_Add_hist_table">

						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">close</button>
			</div>
		</div>
	</div>
</div>