
<div class="modal fade hmodal-success" id="seller_doc_model" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header text-center p-xs">
				<h4 class="modal-title">View Attachments</h4>
			</div>
			<div class="modal-body Address-History ">

				<div class="table-responsive ">
					<table class="table table-condensed" cellspacing="1" cellpadding="1">
						<thead>
							<tr>
								<th width="50%">Document Title</th>
								<th>Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="Seller_doc_table">
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				@*<button type="button" class="btn btn-success" onclick="downloadFiles();">Download All</button>*@
			</div>
		</div>
	</div>
</div>