
@{
	Layout = null;
}

<div class="modal fade in" id="view-notice-model" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header">
				<h4 class="modal-title">View Notification</h4>

			</div>
			<div class="modal-body">
				<div class="panel-body hgreen ">

					<div class="row">
						<div class="col-xs-6">
							<p class="h5">Country Name: </p>
						</div>
						<div class="col-xs-6">
							<h5 id="lblCountry"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<p class="h5">City Name: </p>
						</div>
						<div class="col-xs-6">
							<h5 id="lblCity"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<p class="h5">Group Name:</p>
						</div>
						<div class="col-xs-6">
							<h5 id="lblGroup"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<p class="h5">Type:</p>
						</div>
						<div class="col-xs-6">
							<h5 id="lblType"></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<p class="h5">Notification Date:</p>
						</div>
						<div class="col-xs-6">
							<h5 id="lblNoticeDate"></h5>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6">
							<p class="h5">Active:</p>
						</div>
						<div class="col-xs-6">  <input  class="checkbox checkbox-primary" type="checkbox" id="lblIsActive" disabled/></div>
					</div>

					<div class="row">
						<div class="col-xs-6">
							<p class="h5">Title:</p>
						</div>
						<div class="col-xs-6"><p id="lblTitle"></p></div>
					</div>

					<div class="row">
						<div class="col-xs-6">
							<p class="h5">Notification Message:</p>
						</div>
						<div class="col-xs-6">
							<p id="lblNotice"></p>
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>